nav {
  display: flex;
  background-color: #333;
  justify-content: space-between;
  align-items: center;
  color: white;
}

nav .Logo {
  margin-left: 20px;
  font-size: 24px;
}

ul {
  display: flex;
  list-style-type: none;
}

li a {
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}

li a:hover {
  background-color: gray;
  color: blue;
}

body {
  min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
}

.active {
  background-color: red;
}

main article.above {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background: darkgray;
  height: 25vh;
  padding: 1em;
}

main article.above header {
  color: red;
  animation: colorswitch 10s ease 2s infinite;
}

main article.above p {
  margin-left: 40px;
  margin-right: 40px;
  font-size: large;
  font-weight: 800;
}

main article.above button {
  margin-left: 40px;
  margin-right: 40px;
  height: 40px;
  font-size: large;
  font-weight: 400;
  color: white;
  background-color: red;
  animation: buttoncolorswitch 10s ease 2s infinite;
}

main article.above button a {
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}

main article.below {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background: white;
  height: 26vh;
  padding: 1em;
}

/* Taken From W3Schools and then edited */
div.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 200px;
  width: 150px;
  margin-bottom: 10px;
  background-color: white;
}

/* Taken From W3Schools */
div.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Taken From W3Schools */
div .container {
  padding: 2px 16px;
}

footer {
  display: flex;
  margin-top: auto;
  background-color: #333;
  height: 75px;
  justify-content: center;
  align-items: center;
}

footer a {
  color: white;
}

/*About Me Start*/
main div h2 {
  
  margin-right: 5vh;
}

img#sun {
  position:absolute;
  animation: sunMovement 5s ease infinite;
}

body.aboutMe {
  animation: skyColor 5s ease infinite;
}

h2, h3 {
  animation: skyTextColor 5s ease infinite;
}

/*Blog Start*/
.blog-body {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
}

.blog-content {
	flex: 1 1 auto;
  height: 65vh;
}

.sidebar-left {
	order: -1;
  background-color:floralwhite;
  height:40vh;
}

.sidebar-right {
	padding-left: 20px;
  background-color:floralwhite;
  height:40vh;
}

.sidebar-right li {
  text-decoration: underline;
}

/*Cool Start*/
p.Cool {
  border-style: solid; 
  background-color: black;
  padding: 10px;
  transition: 1s;
}

p.Cool1 {
  border-style: solid; 
  background-color: black;
  padding: 10px;
  transition: 3s;
}

footer h1.Cool {
  color: white;
}

main article.above div p.Cool {
  margin-left: auto;
  margin-right: auto;
  font-size: large;
  font-weight: 800;
}

p.Cool:hover {
  background-color: yellow;
}

p.Cool1:hover {
  box-shadow: inset 300px 0 0 0 lightblue;
  color: black;
}

button.Cool2 {
  animation-name: my-animation;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  border-radius: 10px;
  position: relative; 
  color: white;

}

@media (min-width: 600px) {
	.blog-body {
		flex-direction: row;
	}

	.sidebar {
		flex: 0 0 175px;
	}

  .sidebar-right, .sidebar-left,
  .blog-content {
    height: 125vh;
  }
}

@media (max-width: 600px) {
  nav {
      flex-direction: column;
      width: auto;
      padding-right: 40px;
  }

  nav .Logo {
      align-items: center;
      padding: 10px;
  }

  nav ul {
      flex-direction: column;
      padding-right: 100px;
  }

  nav li {
      padding-bottom: 15px;
  }

  main div.about {
    margin-top: -150px;
  }
}

@keyframes colorswitch {
  0% {color:red}
  20% {color: blueviolet}
  40% {color:lightskyblue}
  60% {color: green}
  80% {color:orange}
  100% {color:red}
}

@keyframes buttoncolorswitch {
  0% {background-color:red}
  20% {background-color: blueviolet}
  40% {background-color:lightskyblue}
  60% {background-color: green}
  80% {background-color:orange}
  100% {background-color:red}
}

@keyframes sunMovement {
  0% {left: 0; top: 10%;}
  50% {left: 35%; top: 0;}
  100% {left: 70%; top: 10%;}
}

@keyframes skyColor {
  0% {background-color: skyblue;}
  50% {background-color: lightblue;}
  100% {background-color: black;}
}

@keyframes skyTextColor {
  0% {color: black;}
  50% {color: black;}
  100% {color: orange;}
}

@keyframes my-animation {
  0% {
    background-color: red;
    width: 300px;
    top: 10px;
  }
  100% {
    background-color: blue;
    width: 50px;
    top: 200px;
  }
}